@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Recursive:slnt,wght,CASL@-15..0,300..1000,0&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap%22');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Recursive:slnt,wght,CASL@-15..0,300..1000,0&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap%22');
/* Reset básico */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
--recursive-font: 'Recursive', sans-serif;
--poppins-font: 'Poppins', sans-serif;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background-color: #232830;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}



hr {
    margin-top: 80px;
    opacity: 0.2; 
    width: 100%;
}


/* Navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

nav > div:first-child {
    font-size: 19px;
    color: #e8edf2;
}

nav > div:last-child {
    display: flex;
    gap: 28px;
}

nav a {
    color: #c5cdd6;
    text-decoration: none;
    font-size: 19px;
}

header p {
    margin-bottom: 40px;
    margin: auto;
    font-size: 29px;
    color:white;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Poppins';

}

header h1 {
    font-size: 71px;
    font-weight: 400;
    font-style: italic;
    color: #FF7575;
    margin-bottom: 15px;
    font-family: 'recursive';
    line-height: 100%;

}


header  div:nth-child(2) {
    text-align: center;
    padding: 40px 0;
}

header > div:nth-child(2) img {
    margin-bottom: 25px;
    
}



header > div:nth-child(3) {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
    overflow-x: auto;
    justify-content: center;
    width: 1,680px;
}

header button {
    background-color: transparent;
    border: 1px solid #4a5568;
    color: #b8c2ccbb;
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    border-color: #232830;
    font-style: italic;
    justify-content: center;
    width: auto;
    display: flex;
}




/* MAIN - Grid de artículos */
main {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

/* Artículos */
article {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 370px;
}


article img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-top: 15px;
    
}

article h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 20px 10px 20px;
    color: #2d3748;
    line-height: 1.3;
    font-family: 'Poppins';
}

article p {
    font-size: 1.1em;
    color: #0F1217;
    margin: 0 20px 15px 20px;
    line-height: 1.3;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 0%;
}


article footer {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #0F1217;
    padding: 0 20px 20px 20px;
    border: 0px;
    font-size: 'Poppins';
    font-weight: 400;
    
}



body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 35px 0;
    color: #9ca3af;
    font-size: 14px;
}



.pagination{
    font-size: 25px;
    font-style: italic;
    font-family: 'Recursive';
    font-weight: 400;
    display: flex;
    gap: 35px;
    color: #909090;
}


.active {
    color: #FF7575 !important;
    font-size: 25px;
}



footer > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer > div:first-child > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer a {
    background-color: #0d1520;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
}

time {
    color: #000000;
   
}




.form-section {
    justify-content: center;
    border-radius: 10px;
    background-color: #9ca3af;
    padding: 20px;
    text-align: center; 
    color: white;
    width: 400px;
}

form-section, h2 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(0, 0, 0);
   font-size: 40px;
}

.form-section .form-group {
margin-bottom: 10px;
display: flex;
flex-direction: column;
 
}

.form-section .form-group label {
    margin-bottom: 10px;
    font-weight: 500;
    color: #ffffff;

}

.form-section .form-group input,
.form-section .form-group textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  width: 100%;
 
}

.form-section .form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

.form-section .form-buttons button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-section .form-buttons #create-button {
  background-color: rgb(76, 152, 76);
  color: white;
}



.form-section .form-buttons #reset-button {
  background-color: #c45d5d;
  color: #ffffff;
}


.new-article {
  position: relative; /* para que el botón se posicione respecto a este contenedor */
  padding: 1em;
  border: 1px solid #ccc;
  margin-top: 1em;
}

.close-article-button {
  position: absolute;
  top: 8px;
  right: 8px; /* derecha, no izquierda */
  border: none;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
  color: #888;
}

.close-article-button:hover {
  color: #f00;
}


@media (max-width: 900px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
    
    nav {
        flex-direction: column;
        gap: 20px;
    }
}

footer {
    padding: 30px 0;
    border-top: 1px solid #4d4d4d;
    margin-top: 40px;
    display: flex;
    gap: 45em;
}

.end {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}


footer a {
    
    background-color: #4699E0;
    color: white;
    padding: 7px 12px;
    border-radius: 4px;
font-size: 15px;
}

.final-text {
    font-size: 30px;
    color: #ffffff;
}